a,
a:hover {
  text-decoration: none;
}

.pagination {
  height: 50px;
  width: 400px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 35px;

}
.pagination-container {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #101319;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
.pagination-hover-overlay {
  background-color: #00c1dd;
  width: 35px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 0.5s;
  left: 60px;
  opacity: 0;
}
.pagination .icon-pagination {
  color: #333d45;
  font-size: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  background: #101319;
  color: #fff;
}
.pagination-prev {
  margin-right: 5px;
  margin-left: 10px;
}
.pagination-prev .icon-pagination-prev {
  transform: rotate(0deg);
}
.pagination-next {
  margin-left: 5px;
  margin-right: 10px;
}
.pagination-next .icon-pagination-next {
  transform: rotate(180deg);
}
.pagination-page-number {
  border-radius: 5px;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 18px;
}
.pagination-page-number:hover {
  color: #fff;
}
.pagination-page-number.active {
  color: #fff;
}
