@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html,
body{
    margin: 0;
    background: #11151c;
}
* {
	font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-track{
	background: #191D24;
	width: 5px;
}

::-webkit-scrollbar-thumb{
	background: rgba(84, 210, 210, 0.5);
	border-radius: 2px;
}


#search{
	background: rgba(16, 19, 25, 1);
}


nav{
	margin-top: 25px;
	padding: 10px;
    width:  100%;
    display: flex;
    transform: translateY(-50%);
}


ul{
	padding-left: 0px;
	list-style-type: none;
  	display: flex;
}


nav{
	margin-top: 50px;
	border-bottom: 2px solid rgba(84, 210, 210, 0.1);
}

nav a{
    text-align: center;
    color: #949494;
    text-decoration: none;
    padding-bottom: 35px;
    transition: 0.2s ease color;
}

.gta{
	height: 300px;
	padding-left: 600px;
}
.a{
	border-bottom: 2px solid rgba(84, 210, 210, 0.01);
	color: silver;
}

.a:hover{
	color: #fff;
	border-bottom: 1px solid rgba(84, 210, 210, 1);
	text-decoration: none;
	transition: all 0.5s;
}

.join{
	font-style: normal;
font-weight: 500;
	transition: all 1s;
	background: #101319;
	border: 1px solid rgba(47, 72, 88, 0.1);
	border-radius: 5px;
	margin-left: 10px;

	color: rgba(251, 254, 249, 1);
	width: 90px;
	height: 40px;

	font-size: 16px;

	position: absolute;

	position: relative;
	left: -10px;
}


.registration{

	font-style: normal;
	font-weight: 500;
	transition: all 1s;
	margin: 0px;
	color: rgba(251, 254, 249, 1);
	width: 130px;
	height: 38px;
	background: rgba(4, 104, 101, 0.6);
	border-radius: 4px;
	border: none;
	font-size: 16px;

	position: absolute;

	position: relative;


}
.slaidertext{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #FBFEF9;
}
.BgPhoto{

	border-radius: 25px;
	width: 1134px;

	margin-top: 30px;
}
ol.carousel-indicators li.active {
  border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: #fff;
}
.carousel-indicators{
	position: absolute;
	top: 270px;
}
.carousel-indicators li {
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: #2F4858;
}
.carousel-control-prev-icon {
        background-image: url("images/slider/left.png");
        height: 35px;
        position: relative;
        top: 130px;
      }

.carousel-control-next-icon {
        background-image: url("images/slider/right.png");
        height: 35px;
        position: relative;
        top: 130px;
      }


.gtawdth{
	height: 300px;
	padding-left: 600px;
}

.grandthefttext{
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	margin-left: 90px;
	padding-top: 50px;
	color: white;
	z-index: 1;
	font-size: 16px;
}

.image{
	height: 300px;width: 300px;
}

.bgslider1{

	background: url(images/slider/gtabg.jpg);
	height: 300px;
	width: 1200px;
	background-repeat: no-repeat;
	width: 100%;
	border-radius: 5px;
}
.bgslider2{
	background: url('images/slider/witcher.png');
	height: 300px;
	width: 1200px;
	background-repeat: no-repeat;
	width: 100%;
}
.bgslider3{
	background: url('images/slider/farcry5.png');
	height: 300px;
	width: 1200px;
	background-repeat: no-repeat;
	width: 100%;
}
.bgslider4{
	background: url('images/slider/watchdogs2.png');
	height: 300px;
	width: 1200px;
	background-repeat: no-repeat;
	width: 100%;
}
.bgslider5{
	background: url('images/slider/RDR2.png');
	height: 300px;
	width: 1200px;
	background-repeat: no-repeat;
	width: 100%;
}
.headerslidertext{
	position: relative;
	top: 5px;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 36px;
}
.carousel-control-prev,
    .carousel-control-next{
        height: 50px;
        width: 50px;
        background-size: 100%, 100%;
        border-radius: 50%;
}
.dropbtnbold{

	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

color: #FBFEF9;
}
.dropbtnnormal{
	font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */


color: #FBFEF9;
}
.podrobneu{
	background: rgba(4, 104, 101, 0.6);
	color: #fff;
	margin-left: 90px;
	margin-top: 10px;
	border:none;
	border-radius: 5px;
	height: 40px;
	width: 200px;
	font-size: 18px;
	padding-left: 15px;
}

.podrobneu:hover{
	color: #fff;
	background: rgba(15, 148, 144, 0.6);
	transition: all 0.4s;
	border:none;

}

.slidertext{

	font-weight: 28px;

	color: white;

}

.bgsl{
	display: flex;
}

.action-adventure{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: -0px;
	color: rgba(84, 210, 210, 0.8);

}


.filterbtn{
	border-radius: none;
	height: 45px;
	background: #101319;
	color: #FBFEF9;
	width: 250px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px; 
	border: 2px solid rgba(47, 72, 88, 0.1);
	transition: all 2s;
}
.filterbtn:hover{
	color: #FBFEF9;
}

.containercenter{
	margin-top: -70px;
	max-width: 1130px;
	height: 2860px;

	padding-left: 15px;
}

.box{
	color: rgba(251, 254, 249, 1);

	border-radius: 5px;

	width: 300px;

	height: 1px;

	background: rgba(16, 19, 25, 1);

	display: flex;

	align-items: center;

	padding: 20px;
}

.searchgeames{
	position: relative;
	bottom: 5px;
	left: -300px;
	border-radius: none;

	width: 840px;
	 height: 50px;
	 font-size: 18px;
	 margin-top: 80px;
	 margin-left: 565px;
	 border: 2px solid rgba(47, 72, 88, 0.1);

}

.box > input{
	position: relative;
	left: -10px;
	color: rgba(251, 254, 249, 1);

	flex: 1;

	border: none;

	outline: none;

	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;

	padding-left: -20px;

	padding-top: 2px;

	background: rgba(16, 19, 25, 1);

	color: #fff;
}
.searhess{
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	/* identical to box height */

	border-radius: none;
	color: rgba(251, 254, 249, 0.5);
}
.dropdown-opac{
	filter: opacity(50%);
}
.dropdown-opac:hover{
	filter: opacity(100%);
}
.dropdownhref{
	padding-left: 10px;
	text-decoration: none;
	color: #FBFEF9;
}
.dropdownhref:hover{
	text-decoration: none;
	color: #FBFEF9;
}
.dropdown-menu{

	background: #080A0D;
	border-radius: 5px; 
	transition: all 1s;
}
.drpdownalpha{
	font-style: normal;
	padding-left: 5px;
}
.dropdown-item{
	color: rgba(251, 254, 249, 0.5);
}
.dropdown-item:hover{
	color: #FBFEF9;
	background: #080A0D;
}
.catalog{

	font-style: normal;
	font-weight: bold;
	width: 250px;
	height: 50px;
	font-size: 30px;
	line-height: 38px;
	color: #FBFEF9;
	border-left: 2px solid #54D2D2;
	padding-left: 10px;
	padding-top: 5px;
	position: relative;

	top: 100px;
}


.filter{
	position: relative;
	top: 120px;
}

.weitingtext{
	letter-spacing: 0.5px;
	line-height: 25px;
	font-style: normal;
	font-weight: bold;
	width: 250px;
	height: 50px;
	background: #101319;
	border-left: 2px solid #54D2D2;
	font-size: 20px;
	line-height: 25px;
	color: #FBFEF9;
	padding-left: 10px;
	padding-top: 15px;
	margin-bottom: 20px;
}

.zhanr{
	width: 100%;
	height: 50px;
	font-style: normal;
	font-family: Google Sans;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	border-left: 2px solid #54D2D2;
	color: #FBFEF9;
	padding: 10px;
	padding-top: 15px;
}

.waiting{
	position: absolute;
	top: 1517px;
}

.imggamesweit{
	height: 150px;

	transition: filter 0.5s;
}

.weitgames{
	width: 250px;
	height: 193px;

	transition: transform 0.5s;

}

.weitgames:hover .imggamesweit{
	filter: brightness(0.6);
	transition: filter 0.5s;
}

.imggamesweit:hover{
	filter: brightness(1);
}

.WeitingGamesMore{
	position: relative;
	top: -85px;
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;

	transform: scale(0.01);
	transition: transform 0.5s;
	filter: none;
	text-align: center;
}

.WeitingGamesMore:hover{
	color: #fff;
	text-decoration: none;
	transition: transform 1.5s;
	filter: none;
}

.WeitingHref{
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
	/* identical to box height */


	color: #FBFEF9;
}

.WeitingHref:hover{
	filter: none;
	filter: brightness(1);
	text-decoration: none;
	color: #FBFEF9;
}

.weitgames:hover .WeitingGamesMore{
	transition: transform 0.5s;
	transform: scale(1);
	text-align: center;
	filter: brightness(1);
}

.sidebars{
  color: rgba(251, 254, 249, 0.5);
  background: #101319;
  border: 2px solid rgba(47, 72, 88, 0.1);
  width: 250px;
  height: 735px;
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
  margin-top: 10px;

}
aside{
  margin: 10px;
}
.animationzhanr2{
	will-change: transform;
    transition: transform 150ms;
    filter: opacity(50%);
}
.animationzhanr{
	padding-top: 5px;

	will-change: transform;
    transition: transform 150ms;
    filter: opacity(50%);
}
.animationzhanr:hover{
	transition: transform 150ms;
    transform: translateX(10px);
    filter: opacity(100%);
}
.zhanrtext{
	color: #FBFEF9;
	font-style: normal;
	padding-left: 5px;
	padding-top: 3px;
}


.zhanrs{
	width: 42px;
height: 18px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	padding: 10px;
	color: rgba(251, 254, 249, 0.5);
	transition: 0.5s 0.1s
}
.zhanrs:hover{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
}
.zhanrsss{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color:#FBFEF9;
	margin-left: 10px;
	text-decoration: none;
	margin-bottom: 10px;
	transition: 0.5s 0.1s;
}

.zhanrsss:hover{
	color: #fff;
	text-decoration: none;

}

.listsmr{
	font-style: normal;
	text-decoration: none;
	padding:10px;
}

.zhanrsssactive{
	color: #fff;
	margin-left: 10px;
}
.zhanrsssactive:hover{
	color: #fff;
	text-decoration: none;
	transform: scaleY(0);
}

.imgBox:hover{
	color: #fff;
}
.imgBox{
	transition: filter 1s;
}
.boxs{
	position: relative;
	top: 35px;
	left: 9px;
}
.gamehoverbtn{
	width: 100px;
	color: #fff;
	background: rgba(8, 10, 13, 0.9);
	border-radius: 3px;
	position: relative;
	top: -85px;
	left: 30%;
	transform: scale(0.001);
	transition: transform 0.5s;
	filter: none;
	border:none;
	font-size: 12px;
}
.gamehoverbtn:hover{
	color: #fff;
	border:none;
	transition: transform 0.5s;
	transform: scale(1);
	filter: none;
}
.contents{
	transition: all 1s;
}
.boxs:hover .gamehoverbtn{

	transform: scale(1.01);
	transition: transform 0.4s;
	filter: brightness(1);
	color: #FBFEF9;
}
.boxs:hover .imgBox{
	filter: brightness(0.4);
	transition: filter 0.6s;

}
.content{
	position: relative;
	bottom: 25px;
}

.gameboxview{
	color: rgba(251, 254, 249, 0.4);
	font-size: 12px;
	 display: flex;
	 flex-direction: row;
	 justify-content: space-around;
	 margin-top: 10px;

}

.article{
	border: 10px solid rgba(47, 72, 88, 0.1);
	height: 350px;
	width: 276px;
	min-width: 276px;
	background: #101319;
	border: 1px solid rgba(47, 72, 88, 0.1);
	border-radius: 5px;
}

.gamers{
  min-width: 820px;
  max-width: 820px;
  margin-left: 280px;
  position: relative;
  top: -735px;
}

.repick{

	width: 250px;
	height: 185px;
	background: #101319;
	border: 1px solid rgba(47, 72, 88, 0.1);
	
	position: absolute;
	top: 1310px;

}
.repicks{
	font-style: normal;
	font-weight: bold;
 	width: 100%;
	height: 50px;
	font-size: 20px;
	border-left: 2px solid #54D2D2;
	color: #FBFEF9;
	padding: 10px;
	padding-top: 15px;
}
.TypeGames{
	font-weight: 500;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 256px;
	border-bottom: 1px solid rgba(251, 254, 249, 0.05);
  	color: rgba(251, 254, 249, 0.5);
  	font-size: 11px;
  	margin-left: 15px;
  	padding-bottom: 10px;
}
.headtext{
	margin-top: 10px;
	margin-left: 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;

color: #FBFEF9;
}
.infogameshref:hover{
	text-decoration: none;
	color: rgba(251, 254, 249, 0.7);
}
.infogameshref{
	color: rgba(251, 254, 249, 0.5);
}
.TypeGamesBlock1{
	background: #080A0D;
	padding: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: 1px solid rgba(47, 72, 88, 0.05);
border-radius: 2px;
}
.TypeGamesBlock2{
	background: #080A0D;
	padding: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: 1px solid rgba(47, 72, 88, 0.05);
border-radius: 2px;
}
.TypeGamesBlock3{
	background: #080A0D;
	padding: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: 1px solid rgba(47, 72, 88, 0.05);
border-radius: 2px;
}
.h2{
	font-family: Google Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
	color: #FBFEF9;
}
.numbersboxs{
	font-family: Google Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: rgba(251, 254, 249, 0.4);
}
label{
	font-size: 12px;
	color: rgba(251, 254, 249, 0.4);
}
.informationgames{
	color: rgba(251, 254, 249, 0.5);
	font-size: 12px;
	width: 100px;

}
.infogame{
	width: 256px;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 12px;
	display: flex;
 	flex-direction: row;
 	justify-content: space-between;

	color: #FBFEF9;
}
.gameinfo{

	margin-bottom: 10px;
	font-size: 12px;
	display: flex;
 	flex-direction: row;
  	justify-content: space-around;
	color: rgba(251, 254, 249, 0.9);
}
.buttons{
	display: flex;
	position: relative;
	width: 100px;
	height: 25px;
	color: rgba(251, 254, 249, 0.9);
	background: rgba(84, 210, 210, 0.4);
}
.buttons:hover{
	color: rgba(251, 254, 249, 0.9);
}
.downloader{
	height: 25px;
	width: 30px;
	border-radius: 0px 3px 3px 0px;
	background: #265154;

	position: absolute;
	top: -1px;
	left: 70px;
}
.downloadtext{
	position: relative;
	right: 7px;
	bottom: 6px;
}


footer{
	width: auto;
}
.footertoptext{
	margin-top: 10px;

}

.footerlist{
	margin-top: 5px;
	padding-left: 20px;
	display: inline-block;
	list-style-type: square;
	color: rgba(84, 210, 210, 0.5);
}

.footerhref{
	color: rgba(251, 254, 249, 0.5);
	font-size: 12px; 

}

.footerhref:hover{
	color: #54D2D2;
	text-decoration: none;
}

.navigationtextfooter{
	height: 30px;
	align-items: center;
	width: 220px;
	color: #FBFEF9;
	font-size: 18px;
	border-left: 2px solid #54D2D2;
	padding-top: 5px;
	padding-left: 10px;
}

.topfooter{
	height: 200px;
	border-top: 2px solid rgba(84, 210, 210, 0.1);
	padding-top: 30px;

}

.footertext{
	color: rgba(251, 254, 249, 0.5);
	font-size: 11px;
}

.footerseacolor{
	color: #54D2D2;
}
.footerseacolor:hover{
	color: #51B8D2;
}
.FollowUs{
	width: 150px;
	display: flex;
}
.footerfollow{
	filter: grayscale(100%);
}
.footerfollow:hover{
	filter: none;
}
.secondpartN{
	position: relative;
	right: 9px;
	top: -3px;
}

.comunicationfooter{
	margin-top: 10px;
}

.bottomfooter{
	margin: 0px;
	padding: 0px;
	background: #101319;
	height: 65px;
	width: 100%;
	
	
}


.bottomfooterhref{
	color: rgba(251, 254, 249, 0.5);
	font-size: 12px;
}

.bottomfooterhref:hover{
	text-decoration: none;
	color: #54D2D2;
}

.bottomfooterul{
	position: relative;
	left: 220px;
	list-style: disc;
	list-style-position: outside;
	color: rgba(251, 254, 249, 0.5);
}
.bottomfootertext{
	font-size: 12px;
	color: rgba(251, 254, 249, 0.5);

	position: relative;
	left: 30px;
	top: 20px;

}
.pfooterlist{
	padding-bottom: 2px;
	padding-top: 3px;
}
.lifooter{

	font-style: normal;
	position: relative;
	bottom: 1px;
}

.listfooter{
	padding-left: -120px;
}
.lifooter2{
	padding-right: 25px;
	font-style: normal;
	position: relative;
	bottom: 1px;
}
.listfooter1{
	font-style: normal;
	list-style: none;
	margin-right: 10px;

}

.topfooternavigation{
	display: flex;
	flex-direction: row;
	width: 1140px;
	max-width: 1140px;

	position: relative;
	left: 10px;
}

.navigations{
	margin-left: 20px;
}

.informationsfooter{
	margin-left: -5px;
}

.contactsfooter{
	margin-left: 90px;
}

.FAQ{
	margin-left: -5px;
}

.bottomfooterposition{
	margin: auto;
	width: 800px;
	display: flex;
position: relative;
left: -130px;

}
.conectbottomfooter{
	position: relative;
	top: 15px;
	left: 190px;
}
.bottomfootersec{
	margin-left: -30px;
	position: relative;
	top: 10px;
}
.footerbtn{
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(84, 210, 210, 0.4);
	border-radius: 2px;
	width: 30px;
	height: 30px;
}
.btnfooterposition{
	color: rgba(251, 254, 249, 0.5);
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 13px;
	position: absolute;
	top: -15px;
	left: 525px;
}
.arrowtext{
	color: rgba(251, 254, 249, 0.5);
	position: relative;
	right: 30px;
}
